@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat top / contain url('images/pattern-background-desktop.svg') hsl(225, 100%, 94%);
  font-size: 16px;
}

main {
  flex-grow: 1;
}

h1 {
  text-align: center;
  visibility: hidden;
}

.order {
  max-width: 400px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.order__image img{
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.content__title {
  font-weight: 900;
}

.content__second-text {
  margin-top: 20px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.product {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  margin-top: 30px;
}

.product__name {
  font-weight: 900;
}

.product__price {
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

.product__button-change {
  margin-left: 50px;
  font-weight: 700;
}

.product__button-change:hover {
  color: hsl(245, 83%, 64%);
  text-decoration: none;

}

.button a {
  text-decoration: none;
  font-weight: 700;
}

.button-proceed {
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px; 
  padding: 15px;
  margin-top: 30px;
}

.button-proceed:hover {
  background-color: hsl(245, 83%, 64%);
  cursor: pointer;
}

.button-proceed a {
  color: hsl(225, 100%, 94%);
}

.button-cancel {
  margin-top: 30px;
}

.button-cancel a {
  color: hsl(224, 23%, 55%);
}

.button-cancel a:hover {
  color: black;
}

footer {
  padding: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}




@media screen and (max-width: 375px) {
  .order {
    max-width: 325px;
    margin: 0 auto;
  }
  .content {
    padding: 25px;
  }

  .product__button-change {
    margin-left: 0px;
  }
}